.tips-container {
    display: grid;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}

.red-close-button {
    display: flex;
    align-self: self-start;
    justify-self: center;
}

.grey-tips-button {
    align-self: self-end;
    justify-self: center;
}

.product-logo-image {
    align-self: self-end;
    justify-self: center;
}