.pageContainer {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-image: url("../../../../public/assets/image/background/Background.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
}

.pageItems {
    display: flex;
    height: 469px;
    grid-template-columns: repeat(2, 50%);
}