.titleBarMoleContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(31px, auto);
    align-items: center;
}

.Title {
    color:white;
    grid-column: 2 / 3;
    grid-row: 1;
    justify-self: center;
    
}

.Settings {
    grid-column: 3 / 3;
    grid-row: 1;
    justify-self: end;
    margin-right: 8px;
}